= render_partial 'plugins/text'
= render_partial 'plugins/video'
= render_partial 'plugins/image'
= render_partial 'plugins/signup'
= render_partial 'plugins/twitter'
= render_partial 'plugins/countdown'
